.preloader {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.handwrite {
  width: 600px;
}

.handwrite path {
  fill: none;
  stroke: #000;
  stroke-width: 3.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
