.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #ffffff; /* White background */
  pointer-events: none;
}

.loader-text {
  font-size: 3rem;
  font-weight: bold;
  color: #000000; /* Text color black on white background */
  position: absolute;
  z-index: 10;
  text-align: center;
  min-width: 300px;
}

.svg-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
}


.loader-wrapper {
  background-color: #ffffff; /* white */
}
.svg-container path {
  fill: #ffffff; /* black path on white background */
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #ffffff; /* White background */
  pointer-events: none;
}

.loader-text {
  font-size: 3rem;
  font-weight: bold;
  color: #000000; /* Black text */
  position: absolute;
  z-index: 10;
  text-align: center;
  min-width: 300px;
}

.svg-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
}

.svg-container path {
  fill: #ffffff; /* Black U-shape on white background */
}
