/* ScrollReveal.css */
.scroll-reveal {
  margin: 100px 0; /* Upar aur niche space */
  min-height: 85vh; /* Screen ki aadhi height jitna space kam se kam */
  display: flex;
  align-items: end;
  justify-content: center;
}

.scroll-reveal-text {
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 1.4;
  max-width: 1000px; /* Text ko bohot lamba hone se bachaye */
  margin: 0 auto;
}

.word {
  display: inline-block;
}

@media (max-width:763px) {
  .scroll-reveal{
    align-items: center;
    height: 15vh;
    margin-bottom: 0;
  }
}